@using CinderellaCore.Model.Models
@model List<CinderellaCore.Model.Models.Album>

@{
    ViewBag.Title = "Random Albums";
}
<script>
    $("#main-body").removeClass("container");
</script>

@foreach (var album in Model)
{
    <div class="detailsContainer">
        <div class="background-image" style="background: url('@album.ImageUrl');"></div>
        <div class="contentContainer">

            <div class="container" style="padding-top: 1em;">
                @await Html.PartialAsync("~/Views/Album/_DetailsInfo.cshtml", album)
                @if (User.IsInRole("Admin"))
                {
                    @(album.IsShowcased ? Html.ActionLink("Remove From showcase", "RemoveFromShowcase", "Album", new { id = album.ID }, new { @class = "btn btn-danger" }) : Html.ActionLink("Add to Showcase", "AddToShowcase", "Album", new { id = album.ID }, new { @class = "btn btn-default" }))
                }
            </div>
        </div>
    </div>
    <br />
}