@using CinderellaCore.Model.Models
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
    @inject UserManager<ApplicationUser> UserManager
@*@inject SignInManager<IdentityUser> SignInManager
    @inject UserManager<IdentityUser> UserManager*@

@if (User.Identity.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-right">
        <li>
	        @Html.ActionLink($"Hello {User.Identity.Name}!", "UpdateAccount", "Account")
        </li>
        <li>
            @Html.ActionLink("Sign Out", "SignOut", "Account")
        </li>
    </ul>
    @*</form>*@
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
	        @*<a asp-area="Identity" asp-page="/Account/Register">Register</a>*@
			@Html.ActionLink("Register", "Register", "Account")
        </li>
        <li>@Html.ActionLink("Sign In", "Signin", "Account")</li>
    </ul>
}