@model CinderellaCore.Model.Models.FunkoPop

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Create", "Pop", FormMethod.Post))
{
    await Html.RenderPartialAsync("_PopFormPartial", Model);
}

@Html.ActionLink("Back to list", "Index", "Pop")