@model CinderellaCore.Model.Models.FunkoPop
<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Edit", "Pop", new { id = Model.ID }, FormMethod.Post))
{
    Html.RenderPartial("_PopFormPartial", Model);
}

@Html.ActionLink("Back to List", "Index", "Pop")