@using CinderellaCore.Model.Models
@model CinderellaCore.Model.Models.Movie

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Create", "Movie", FormMethod.Post))
{
    Html.RenderPartial("_MovieFormPartial", Model);
}

@Html.ActionLink("Back to List", "Index", "Movie")