@using CinderellaCore.Model.Models
@model List<CinderellaCore.Model.Models.Album>

<div class="container">
    @foreach (var album in Model)
    {
        @Html.Partial("~/Views/Album/_Album.cshtml", album)
    }
</div>