@using CinderellaCore.Model.Models
@model CinderellaCore.Model.Models.Game
<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Create", "Game", FormMethod.Post))
{
    await Html.RenderPartialAsync("_GameFormPartial", Model);
}

@Html.ActionLink("Back to List", "Index", "Game")