@page
@using CinderellaCore.Web.Views.Account
@model CinderellaCore.Web.Views.Account.UpdateAccountModel

@using (Html.BeginForm("UpdateAccount", "Account", FormMethod.Post))
{
    <div class="row">
        @Html.LabelFor(x => x.DisplayName)
        @Html.TextBoxFor(x => x.DisplayName, new { @class = "form-control" })
    </div>

    <div class="row">
        @Html.LabelFor(x => x.EnableImport)
        @Html.CheckBoxFor(x => x.EnableImport)
    </div>

    <div class="row" style="padding-top: 2rem;">
        <button class="btn btn-primary" type="submit">Save</button>
    </div>
}